.current-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}
.other-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
}

body {
  background: rgb(138, 132, 226);
  background: linear-gradient(
    0deg,
    rgba(138, 132, 226, 1) 0%,
    rgba(194, 190, 237, 1) 33%,
    rgba(252, 250, 249, 1) 66%
  );
  color: rgb(94, 94, 94), 25%;
  height: 100vh;
}
